body {
  font-family: "Roboto", "Raleway", sans-serif;
  background: #fff;
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-header {
  line-height: 1.5;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.page-logo span {
  color: #4d5ae5;
}

.nav-list {
  font-weight: 500;
}

.nav-item .link {
  color: #2e2f42;
}

.address-list .link {
  font-style: normal;
  color: #434455;
}

.page-hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
}

.hero-btn {
  border: none;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #fff;
}

.features-item h3,
.team-item h3,
.portfolio-item h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.features-item p {
  line-height: 1.5;
}

.team {
  background-color: #f4f4fd;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}

.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  text-align: center;
  background-color: #fff;
}

.page-footer {
  background-color: #2e2f42;
}

.page-footer .page-logo {
  color: #f4f4fd;
}

.page-footer p {
  color: #f4f4fd;
}